{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"], // Base directory for resolving modules
        "alias": {
          "^/": "./" // Map / to the root directory
        }
      }
    ]
  ]
}
